.item {
    width: 100%;
    padding: 1.1rem;
    margin-bottom: 9px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 9px;
    background: white;
    border-radius: 3px;
    place-items: center;
    box-shadow: 0 3px 6px #89ABE3FF;
}

.item__name {
    text-decoration: none;
    color: rgb(122, 158, 214);
    font-size: 1.2rem;
}

.item__name:hover {
    color: #dd218e;
    
}

.item__select {
    padding: 11px 16px;
    cursor: pointer;
}

.delete__item__button {
    padding: 11px 18px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all .3s ease-out;
}

.delete__item__button:hover,
.delete__item__button:focus,
.delete__item__button:active {
    background: #89ABE3FF;
    transform: scale(1.2);
}

@media (max-width: 650px) {
    .item__name {
        font-size: .9rem;
    }

    .item__select, .delete__item__button {
        padding: 9px 14px;
    }

    .item__price {
        font-size: .8rem;
    }
}

@media (max-width: 480px) {
    .item__name {
        font-size: .7rem;
    }

    .item__select, .delete__item__button {
        padding: 6px 8px;
    }

    .item__price {
        font-size: .6rem;
    }
}