* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Frank Ruhl Libre', serif;
}

img {
    width: 100%;
    object-fit: contain;
}